* {
   
  box-sizing: border-box; 
  margin: 0;
  font-family: Goudy Old Style, sans-serif; 
}



#header {
  display: flex; 
  flex-wrap: nowrap;
  width: 100%;
  position: fixed; 
  top: 0; 
  font-family: Goudy Old Style, sans-serif; 
  color: black;
  padding: 10px;
  z-index: 1;
  
}

#nav-bar {
  margin-left: auto;  
  padding: 10px;  
 
}

#nav-bar a {
  margin: 15px; 
  font-size: 25px;
  color: black;
  text-decoration: none; 

}



#form, #header, html {
  background: linear-gradient(
    90deg,
    #66ff66 50%, 
    #ccffcc 100%
  );
}


input {
  display: block; 
}

#email {
  margin: 10px auto;
  padding: 15px 100px;
}

#submit {
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(0, 255, 0, 0.5); 
}
  
#contact {
  padding: 10px;
  margin-top: 73px;
  
}

#contact-text {
  font-family: Palatino, sans-serif;
  font-size: 30px; 
  text-align: center; 
  padding: 20px; 
  font-weight: bold; 
}


#logo-text {
  text-align: center; 
  padding-top: 5px; 
}

#excellent_quality {
  padding: 0 auto;
}

#red-apple {
  position: relative; 
  top: 2rem;
  left: 4rem;
  width: 100px; 
}

#features_title, #features_description {
  position: relative;
  top: -4.2rem;
  left: 6rem; 
  width: 60%; 
  margin-left: 100px;
  font-size: 30px;
}

#order {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

#order_description {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

#order_button {
  position: relative; 
  top: 10px; 
  left: 7rem;
  width: 500px;
  height: 60px; 
  background-color: rgba(0, 255, 0, 0.5);
  color: white;
  font-size: 30px;
  font-weight: bold;
}

iframe {
 width: 500px;
 height: 500px; 
 margin-left: 150px; 
 margin-right: 150px; 
}

#footer {
  background-color: rgba(255, 255, 255, 0.5); 
  width: 80%; 
  margin: 0px auto; 
  padding: 10px;
}

#footer ul {
  display: flex;
  justify-content: flex-end; 
  list-style: none; 
}

li {
  margin: 5px; 
  font-size: 20px; 
}

footer p {
  font-size: 30px;
  text-align: right; 

}

#header-img {
  width: 50px; 
}

@media (max-width: 500px) {
  
}
